/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
}

*::-webkit-scrollbar{
	width: 15px;
	background: #000;
}
*::-webkit-scrollbar-thumb{
	background: #000;
	border: 1px solid #fff;

}